<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="www.george.com.mapper.UserWordRelationMapper">
    <select id="countLearnedWord" resultType="int">
        SELECT COUNT(*)
        FROM userwordrelation
        WHERE emailAddr = #{emailAddr}
        AND bid = #{bid}
        AND degree != 0
    </select>

    <select id="userBookExist" resultType="boolean">
        SELECT COUNT(*)
        FROM userwordrelation
        WHERE emailAddr = #{emailAddr}
        AND bid = #{bid}
    </select>

    <insert id="addAll" parameterType="java.util.List">
        INSERT INTO userwordrelation(emailAddr, wid, bid, degree)
        VALUES
        <foreach collection="relationList" item="item" separator="," >
            (#{item.emailAddr}, #{item.wid}, #{item.bid}, #{item.degree})
        </foreach>
    </insert>

    <select id="selectByEmailAddrAndBidToLearn" resultType="www.george.com.dao.UserWordRelation">
        SELECT * FROM userwordrelation
        WHERE emailAddr = #{emailAddr}
        AND bid = #{bid}
        AND degree = 0
    </select>
</mapper>